@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rowdies&display=swap');


.titulo{ 
    margin: 70px auto 0;
    text-align: center;
    color: rgb(8, 1, 12);
    width: 400px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: solid rgb(0, 0, 0) ;
    border-radius: 15px;
    font-size: large;
    font-family: Rowdies;
}
.body{
    margin:0;
    padding:0;
    background:url(unidadIII.gif);
    background-size: cover;
    background-position:center;

}

.footer{
    background-color: rgb(143, 40, 57);
    color: rgb(0, 1, 2);
    position: absolute;
    width: 100vw;
    text-align: center;
}
